@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.background--color {
  transition: background-color 0.2s ease-in-out;
}
.mail--text {
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mail--text {
    display: none;
  }
}

.dark .mail--text {
  color: white;
}
